.dropdown:hover .dropdown-menu {
    display: block;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.underline{
    position: relative;
    width: 100%;
    height: 5px;
    top: 10px;
}